html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#pageWindow {
	width: 100%;
	height: 100%;
}
#pageWindow > .hasnav-top {
	padding-top: 45px;
}
.normal > .mui-content {
	height:100%;
	overflow:scroll;
}
#pageWindow > .hasnav-bottom {
	padding-bottom: 50px;
}
body >.fixednav {
	display: none;
}
body > .navigate {
	z-index: 1000;
}

/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
em, i {
	font-style: normal;
}
body, button, input, select, textarea {
	font: sans-serif;
	color: #000;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
	-Webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button, input, select, textarea, label {
	vertical-align: middle;
}
button, input[type=button], input[type=submit] {
	border: none;
}
img {
	vertical-align: middle;
	border: none;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #444;
	vertical-align: baseline;
	cursor: pointer;
}
a:hover, a:visited, a:active {
	text-decoration: none;
	color: #444;
}
input {
	outline: 0 none;
}
div.amap-sug-result {
	top: 494px !important;
	position: absolute;
}
._tipBx {
	position: fixed;
	top: 250px;
	left: 10%;
	width: 80%;
	font-size: 14px;
	color: #FFF;
	line-height: 22px;
	z-index: -1;
}
.normal .scrollBox {
	height: 100%;
	overflow: scroll;
}
._tipBx ._tipWp {
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 10px;
}
._tipBx-show {
	z-index: 1000;
}
._tipBx-show ._tipWp {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s;
}

/*解决N行文本溢出打点显示的问题，暂只支持webkit内核*/
.g-ellipsis-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.g-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.g-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

/*公共*/
#pageWindow >.normal {
	background: #fafafa;
	font-size: 55%;
	display: none;
	position: absolute;	/*left: 0px;
		top: 0px; */

	/*box-shadow: 0 -12px 12px #101010;*/
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;	/* overflow: scroll; */
}
#pageWindow > .navigate {
	position: fixed;
	width: 100%;
	display: none;
}
#pageWindow > .mask {
}
#pageWindow > div.hide {
	display: none !important;
}
#pageWindow > .page_show {
	display: block;
}
#pageWindow > .navigate_show {
	display: block;
}
.g-d-n {
	display: none !important;
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
    	transform: rotate(0deg)
	}
	100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
body .am-toast-text .am-icon{
	height:36px;
	width:36px;
	display:block;
	margin: 0 auto;
}
body .am-toast-text em{
	margin-top: 8px;
    display: block;
    font-size: 14px;
}
body .am-toast-text .am-icon[am-mode~="loading"] {
	animation: rotate linear 1.85s infinite;
    background: url(../images/loading.png) -80px 0px/160px 35px no-repeat;
}
body .am-toast-text .am-icon[am-mode~="success"] {
    background: url(../images/loading.png) 0px 0px/160px 35px no-repeat;
}
body .am-toast-text .am-icon[am-mode~="faile"] {
    background: url(../images/loading.png) -40px 0px/160px 35px no-repeat;
}
body .am-toast-text .am-icon[am-mode~="unconnectable"] {
    background: url(../images/loading.png) -120px 0px/160px 35px no-repeat;
}
body .am-toast-text {
	display: inline-block;
    margin: 24px auto auto;
    padding: 9px;
    width: 100px;
    height: 80px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    color: #fff;
    background-color: #1E2238;
    position: fixed;
    opacity: .8;
    text-align: center;
}
button.untaptable {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    color: #676060;
}

/**
 *
 * Horizontal Scrollbar
 *
 */

/*# sourceMappingURL=mui-checkbox.css.map */