<!-- 广场主界面 -->
<script type="text/template" id="tplmakeFriends">
    <ul class="my-css-cbox">
        <%for(var i=0; i<list.length; i++){%>
        <li class="list" data-i=<%=i%>>
            <a class="imgbox">
                <img class="mui-media-object" src="<%=list[i].show_img%>">
                <div class="content">
                    <div class="box1">
                        <span class="mui-ellipsis"><em>昵称：</em><%=list[i].nick%></span>
                        <span class="mui-ellipsis"><em>年龄：</em><%=list[i].age%></span>
                    </div>
                    <div class="box1">
                        <span class="mui-ellipsis"><em>性别：</em><%=list[i].sex == 0 ? '男' : '女'%></span>
                        <span class="mui-ellipsis"><em>现居：</em><%=list[i].liveplace%></span>
                    </div>
                    <p class="box2 mui-ellipsis">
                       交友宣言：<%=list[i].introduction%>
                    </p>
                </div>  
            </a>
        </li>
        <%}%>
        <%if(list.length == 15){%>
            <div class="mui-content-padded">
                <ul class="mui-pager">
                    <li>
                        <a class="J-loadmore">
                            加载更多...
                        </a>
                    </li>
                </ul>
            </div>
        <%}%>
    </ul>
</script>
<script type="text/template" id="tplmakeFriendsTemplate">
    <%for(var i=0; i<list.length; i++){%>
    <li class="list" data-i=<%=i%>>
        <a class="imgbox">
            <img class="mui-media-object" src="<%=list[i].show_img%>">
            <div class="content">
                <div class="box1">
                    <span class="mui-ellipsis"><em>昵称：</em><%=list[i].nick%></span>
                    <span class="mui-ellipsis"><em>年龄：</em><%=list[i].age%></span>
                </div>
                <div class="box1">
                    <span class="mui-ellipsis"><em>性别：</em><%= list[i].sex == 0 ? '男' : '女'%></span>
                    <span class="mui-ellipsis"><em>现居：</em><%=list[i].liveplace%></span>
                </div>
                <p class="box2 mui-ellipsis">
                   交友宣言：<%=list[i].introduction%>
                </p>
            </div>  
        </a>
    </li>
    <%}%>
</script>
<!-- 个人信息 -->
<script type="text/template" id="tplpersonel">
<!-- 通过有无微信好 判断时候填写交友信息 -->
<%if(list.chat){%>
<%
    function needShowEl(value) {
        return value ? '': 'g-d-n';
    }
%>
    <div class="scrollBox">
        <div class="banner">
            <img class="mui-media-object" src="<%=list.show_img%>">
        </div>
        <div class="content">
            <p class=""><em class="name">姓名：</em><em class="value"><%=list.nick||'暂未填写'%></em></p>
            <p class=""><em class="name">性别：</em><em class="value"><%= (list.sex == 0 ? '男': '女')%></em></p>
            <p class="<%=needShowEl(list.age)%>"><em class="name">年龄：</em><em class="value"><%=list.age||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.tall)%>"><em class="name">身高：</em><em class="value"><%=list.tall||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.weight)%>"><em class="name">体重：</em><em class="value"><%=list.weight||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.liveplace)%>"><em class="name">现居地：</em><em class="value"><%=list.liveplace||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.birthplace)%>"><em class="name">家乡：</em><em class="value"><%=list.birthplace||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.marriageable)%>"><em class="name">婚姻状态：</em><em class="value"><%=list.marriageable||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.hobby)%>"><em class="name">爱好：</em><em class="value"><%=list.hobby||'暂未填写'%></em></p>
            <p class="<%=needShowEl(list.profession)%>"><em class="name">职业：</em><em class="value"><%=list.profession||'暂未填写'%></em></p>
            <p class=""><em class="name">微信号：</em><em class="value"><%if(list.need_hiddenwx == 1 || relaction != 1){%>***** TA设置为打招呼后显示<%}else{%><strong><%=list.chat%><%}%></strong></em></p>
            <p class="<%=needShowEl(list.value)%>"><em class="name">交友宣言：</em><em class="value"><%=list.introduction||'暂未填写'%></em></p>
        </div>
        <footer>
        <%if(relaction == 4){%>
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block say-hello <%if(!clickable){%>cannotclick<%}%>">打个招呼</button>
        <%}%>
            <button type="button" class="mui-btn mui-btn-success mui-btn-block like-it <%if(!clickable){%>cannotclick<%}%>">给TA个赞</button>
        </footer>
    </div>
<%}else{%>
    <img class="wechatimg" src="<%=list.headimgurl%>">
    <div class="wechatdiv"><span><%=list.nickname%></span><span><%=list.sex== 1 ? '男' : '女'%></span><span><%=list.country + list.province + list.city%></span></div>
    <p class="wechatp">该用户暂时没有发布交友信息</p>
<%}%>
</script>
<!-- 发布个人信息 -->
<script type="text/template" id="tplpublishPerson">
    <div class="mui-content feedback">
        <div class="need line">
            以下是必填项，不能偷懒哦
        </div>
        <p>昵称：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear nickname" placeholder="可以填写真名" data-input-clear="1">
        </div>
        <p>性别：</p>
        <div class="mui-input-row mui-radio radiobox">
            <input name="radio" type="radio" value="0" class="woman sex" checked>男
            <input name="radio" type="radio" value="1" class="woman sex">女
        </div>
        <div class="mui-checkbox needagree">
            <div>微信号：</div>
            <div class="discription">是否需要本人同意后公开</div>
            <input class="need needShowWecaht" name="checkbox" value="Item 2" type="checkbox">
        </div>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear wechat" placeholder="微信, （推荐微信）" data-input-clear="1">
        </div>

        <div class="noneed line">
            以下是选填项，可以为你加分哦
        </div>
        <p>个人照(目前只允许上传一张)</p>
        <div id="image-list" class="row image-list">
            <div class="image-item space">
                <div class="image-close">X</div>
                <input type="file" accept="image/*" class="img">
                 <div class="left mui-ellipsis">上传一张个人头像(非必填)</div>
            </div>
        </div>
        <p class="mui-checkbox">年龄：</p>
        <div class="mui-input-row">
            <select class="age">
                <%for(var i=10; i<81; i++){%>
                    <option value="<%=i%>"><%=i + '岁'%></option>
                <%}%>
            </select>
        </div>
        <p class="mui-checkbox">出生地: </p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear birthplace" placeholder="(选填,方便我们联系你 )" data-input-clear="1">
        </div>
        <p class="mui-checkbox">现居地：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear liveplace" placeholder="(选填,方便我们联系你 )" data-input-clear="1">
        </div>
        <p class="mui-checkbox">职业：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear profession" placeholder="设计狮、程序猿" data-input-clear="1">
        </div>
        <p>特长：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear goodat" placeholder="说说你最擅长的" data-input-clear="1">
        </div>
        <p>爱好：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear hobby" placeholder="涉猎的那些领域" data-input-clear="1">
        </div>
        <p class="mui-checkbox">身高：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear tall" placeholder="单位公分（cm）如（填写175即可）" data-input-clear="1">
        </div>
        <p class="mui-checkbox">体重：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear weight" placeholder="单位公斤（KG）如（填写55即可）" data-input-clear="1">
        </div>
        <p class="mui-checkbox">其他社交账号：</p>
        <div class="mui-input-row">
            <input  type="text" class="mui-input-clear contact" placeholder="QQ, fackbook，line，in, whatApp都可以" data-input-clear="1">
        </div>
        <p>婚恋状态</p>
        <div class="mui-input-row">
            <select class="marriageable">
                <option class="0">你猜</option>
                <option class="1">单身</option>
                <option class="2">未婚</option>
                <option class="3">已婚</option>
                <option class="4">丧偶</option>
                <option class="5">丧偶</option>
                <option class="6">同性</option>
            </select>
        </div>
        <p>交友宣言：</p>
        <div class="row mui-input-row">
            <textarea class="mui-input-clear question" placeholder="找伴侣、找合作伙伴、找伯乐、找共同兴趣的。都可以"></textarea>
        </div>
        <button type="button" class="mui-btn mui-btn-green J-submit submit">提交</button>
    </div>
</script>